<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean name="person" class="com.basic_of_spring.Person"></bean>
    <bean name="employee" class="com.basic_of_spring.Employee">
    <property name="id" value="10"></property>
    <property name="name" value="Miller"></property>
    <property name="salary" value="1000"></property>
    </bean>

</beans>